.login {
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  align-items: center;
  display: flex;
  max-width: 880px;
}
.login__form-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  padding: 0;
}
.login__header {
  display: flex;
  flex-direction: row;
}
.login__header-container {
  margin-top: 20px;
  padding-bottom: 0;
}

.login__header-register {
  font-family: Inter;
  font-size: 18px;
  color: #a9a9a9;
}
.header__user-email {
  margin: 0;
  margin-right: 23px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.title__login {
  margin: 40px 0 40px 0;
  display: flex;
  font-size: 24px;
  width: 100%;
  max-width: 358px;
  justify-content: center;
}

.login__form-input {
  padding-bottom: 7px;
  background-color: black;
  justify-content: center;
  font-size: 14px;
  color: white;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
  width: 358px;
  height: 50px;
  margin-bottom: 30px;
}

.login__form-item:focus {
  outline: none;
}

.login__button {
  margin-top: 60px;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-bottom: 15px;
  max-width: 358px;
  height: 50px;
  cursor: pointer;
}

.login__register-link {
  margin: 0;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 340px) {
  .login__form {
    max-width: 330px;
  }
  .title__login {
    max-width: 260px;
    margin: 0 0px 40px 0;
  }
  .login__header {
    flex-direction: column;
    align-items: center;
  }
  .login__form-fieldset {
    width: 340px;
    display: flex;
    justify-content: center;
  }
  .login__form-input {
    max-width: 260px;
    margin: auto;
  }
  .login__header-register {
    position: absolut;
    top: 34px;
    right: 40px;
    font-size: 14px;
  }
  .login__button {
    max-width: 260px;
    margin: 143px auto 20px;
  }
  .login__register-link {
    max-width: 260px;
    margin: 0 0 42px 15px;
  }
  .header__user-email {
    margin: 0;
    margin-bottom: 18px;
  }
}
